[api]
url = https://192.168.33.10:5665/
username = root
password = icinga 
;ca_certificate = icinga2-ca.crt

;certificate = /etc/ssl/certs/myhostname.crt
;key = /etc/ssl/private/myhostname.key


;url = https://icinga2:5665
;certificate = /etc/ssl/certs/myhostname.crt
;key = /etc/ssl/private/myhostname.key
;ca_certificate = /etc/ssl/certs/ca.crt

